#As groq api are of free tier, we need to use multiple keys to avoid rate limiting.
GROQ_API_KEY1=your_groq_api_key_here
GROQ_API_KEY2=your_groq_api_key_here
GROQ_API_KEY3=your_groq_api_key_here
TURSO_DATABASE_URL=your_turso_database_url_here
TURSO_AUTH_TOKEN=your_turso_auth_token_here